.Carousel .Button {
  opacity: 0.6 !important;
}

.zoom-picture {
  position: fixed;
  height: 90vh;
  top: 5vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 100;
}

.hidden-initial {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.img-container {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hover-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000060;
  color: #f5f5f5;
}

.hover-text:hover {
  cursor: default;
  animation-name: fade-in;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  from {
    background-color: #00000060;
    color: #f5f5f5;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}

@media only screen and (min-device-width: 900px) {
  .hide-on-mobile {
    visibility: hidden;
  }
}
